/**
 * Configure Tailwind v4 in this file using CSS variables and directives:
 * https://tailwindcss.com/docs/v4-beta#css-first-configuration
 */

@import 'tailwindcss';


.BUTTON1 {
    @apply flex flex-row cursor-pointer gap-3 items-center justify-center px-4 py-2 font-bold text-white bg-orange-600 rounded-full duration-300 text-nowrap;

    @apply lg:px-5 lg:py-3;

    &:hover {
        @apply opacity-70;
    }

    &:active {
        @apply opacity-70;
    }
}


.BUTTON2 {
    @apply flex flex-row w-fit cursor-pointer gap-3 items-center justify-center px-4 py-2 font-bold text-orange-500 bg-white border border-orange-500 rounded-full duration-300 text-nowrap;

    @apply lg:px-5 lg:py-3;

    &:hover {
        @apply bg-orange-500 text-white;
    }

    &:active {
        @apply bg-orange-500 text-white;
    }
}

/* MINE */

.HIDDEN_SCROLL {
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
}

.HIDDEN_SCROLL::-webkit-scrollbar {
    /* WebKit */
    width: 0;
    height: 0;
}



.MAIN_COL_CONTAINER {
    @apply flex flex-col px-[3%] gap-7 my-5 max-w-[1750px] w-full mx-auto h-fit;
    @apply lg:gap-10 lg:py-3 lg:text-base;
}

.SEC_COL_CONTAINER {
    @apply flex flex-col gap-10 w-full;
}

small {
    @apply text-sm text-zinc-300
}


.StrikeThrough {
    text-decoration: line-through;
}


.INPUT {
    @apply px-5 py-3 bg-zinc-100 outline-none rounded-xl w-full;
}


.LINK_BUTTON {
    @apply text-blue-700 text-nowrap outline-none underline text-sm;
    @apply lg:text-lg
}


.GRID_CONTAINER {
    @apply grid grid-cols-2 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-y-10 gap-[2%] h-full;
}


.TAB {
    @apply bg-zinc-50 border border-orange-500 rounded-full px-4 py-2 text-orange-500 text-nowrap;
    @apply lg:px-5 lg:py-3 lg:text-lg;

    &:hover {
        @apply opacity-50 duration-300;
    }
}


.ACTIVE_TAB {
    @apply bg-orange-500 font-bold rounded-full px-4 py-2 text-white text-nowrap;
    @apply lg:px-5 lg:py-3 lg:text-lg;

    &:hover {
        @apply opacity-50 duration-300;
    }
}

