/**
 * Configure Tailwind v4 in this file using CSS variables and directives:
 * https://tailwindcss.com/docs/v4-beta#css-first-configuration
 */

@import 'tailwindcss';


.BUTTON1 {
    @apply flex flex-row cursor-pointer gap-3 items-center justify-center px-3 py-2 font-bold text-white bg-orange-400 rounded-full duration-300 text-nowrap text-xs;

    @apply md:px-5 md:py-3 md:text-base;

    &:hover {
        @apply opacity-70;
    }

    &:active {
        @apply opacity-70;
    }
}


.BUTTON2 {
    @apply flex flex-row cursor-pointer gap-3 items-center justify-center px-3 py-2 font-bold text-orange-400 bg-white border border-orange-400 rounded-full duration-300 text-nowrap text-xs;

    @apply md:px-5 md:py-3 md:text-base;

    &:hover {
        @apply bg-orange-400 text-white;
    }

    &:active {
        @apply bg-orange-400 text-white;
    }
}

/* MINE */
.HIDDEN_SCROLL {
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
}

.HIDDEN_SCROLL::-webkit-scrollbar {
    /* WebKit */
    width: 0;
    height: 0;
}



.MAIN_COL_CONTAINER {
    @apply flex flex-col px-[3%] gap-7 my-5 max-w-[1750px] w-full mx-auto h-fit;
    @apply lg:gap-10 lg:py-3 lg:text-base;
}

.SEC_COL_CONTAINER {
    @apply flex flex-col gap-10 w-full;
}

small {
    @apply text-sm text-zinc-300
}


.StrikeThrough {
    text-decoration: line-through;
}


.INPUT {
    @apply px-5 py-3 bg-zinc-100 outline-none rounded-3xl w-full;
}


.LINK {
    @apply text-blue-700 text-nowrap outline-none underline text-sm;
    @apply lg:text-lg
}


.PRODUCTS_GRID_CONTAINER {
    @apply grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 xl:grid-cols-6 gap-y-5 gap-[2%] h-full;
}


.TAB {
    @apply bg-zinc-50 border border-orange-400 rounded-full px-4 py-2 text-orange-400 text-nowrap;
    @apply lg:px-5 lg:py-3 lg:text-lg;

    &:hover {
        @apply opacity-50 duration-300;
    }
}


.ACTIVE_TAB {
    @apply bg-orange-400 font-bold rounded-full px-4 py-2 text-white text-nowrap;
    @apply lg:px-5 lg:py-3 lg:text-lg;

    &:hover {
        @apply opacity-50 duration-300;
    }
}


/* This is for the AddToCart button  */
form {
    @apply w-full max-h-fit flex flex-col gap-5;
}


.SEARCH_CONTAINERS {
    @apply flex absolute top-20 right-0 left-0 bg-white rounded-3xl overflow-hidden p-5 border;
    @apply md:p-10;
}