/**
 * Configure Tailwind v4 in this file using CSS variables and directives:
 * https://tailwindcss.com/docs/v4-beta#css-first-configuration
 */

@import 'tailwindcss';


.BUTTON1 {
    @apply flex flex-row cursor-pointer gap-3 items-center justify-center px-3 py-1.5 font-medium text-white bg-orange-400 md:rounded-3xl rounded-2xl duration-300 text-nowrap text-xs;

    @apply md:px-7 md:py-3 md:text-sm;

    &:hover {
        @apply opacity-70;
    }

    &:active {
        @apply opacity-70;
    }
}


.BUTTON2 {
    @apply flex flex-row cursor-pointer gap-3 items-center justify-center px-4 py-1.5 font-medium text-orange-400 bg-white border border-orange-400 md:rounded-3xl rounded-2xl duration-300 text-nowrap text-xs;

    @apply md:px-7 md:py-3 md:text-sm;

    &:hover {
        @apply bg-orange-400 text-white;
    }

    &:active {
        @apply bg-orange-400 text-white;
    }
}

/* MINE */
.HIDDEN_SCROLL {
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
}

.HIDDEN_SCROLL::-webkit-scrollbar {
    /* WebKit */
    width: 0;
    height: 0;
}



.MAIN_COL_CONTAINER {
    @apply flex flex-col px-[2.5%] gap-3 mb-5 max-w-400 w-full mx-auto h-fit;
}

.SEC_COL_CONTAINER {
    @apply flex flex-col gap-10 w-full;
}


.INPUT {
    @apply px-3 py-2 bg-zinc-100 outline-none md:rounded-2xl rounded-xl w-full;
    @apply md:px-4 md:py-2 md:text-sm text-xs;
}


.LINK {
    @apply text-blue-700 text-nowrap outline-none underline text-xs;
    @apply md:text-sm
}


/* .PRODUCTS_GRID_CONTAINER {
    @apply grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 xl:grid-cols-7 gap-y-5 gap-3 h-full;
} */


.PRODUCTS_GRID_CONTAINER {
    @apply grid xl:grid-cols-5 lg:grid-cols-4 md:grid-cols-3 sm:grid-cols-2 grid-cols-2 gap-y-5 gap-3 h-full;
}


.TAB {
    @apply bg-zinc-50 border border-orange-400 rounded-full px-3 py-2 text-orange-400 text-nowrap;

    &:hover {
        @apply opacity-50 duration-300;
    }
}


.ACTIVE_TAB {
    @apply bg-orange-400 font-medium rounded-full px-3 py-2 text-white text-nowrap;

    &:hover {
        @apply opacity-50 duration-300;
    }
}


/* This is for the AddToCart button  */
form {
    @apply w-full max-h-fit flex flex-col gap-3;
}


.SEARCH_CONTAINERS {
    @apply flex absolute top-20 right-0 left-0 bg-white md:rounded-2xl rounded-xl overflow-hidden p-5 border border-black/10;
    @apply md:p-10;
}

.LINK {
    @apply text-blue-500 underline hover:text-blue-300 active:text-blue-300 duration-300
}

.HOME_WRAPPER {
    @apply h-full w-full max-w-400 px-[5%] mx-auto;
}

h1 {
    @apply md:text-8xl text-6xl
}

h2 {
    @apply md:text-6xl text-4xl;
}

h3 {
    @apply md:text-4xl text-2xl;
}

h4 {
    @apply md:text-2xl text-xl
}

h5 {
    @apply md:text-xl text-base
}

h6 {
    @apply md:text-lg text-base
}

p {
    @apply md:text-base text-sm;
}

span {
    @apply md:text-sm text-xs;
}

/* 
  h1: 8xl - 5xl
  h2: 6xl - 3xl
  h3: 4xl - 2xl
  h4: 2xl - xl
  h5: xl - lg
  h6: lg - base
  p: base - sm
  span: sm - xs
*/